project-obsidianspace/.obsidian/*
.vscode/*
project-artifactspace/main/CMakeLists.txt
project-artifactspace/.clangd
project-artifactspace/CMakeLists.txt
project-artifactspace/.devcontainer/*
project-artifactspace/.vscode/*
