project-obsidianspace/.obsidian/*
.vscode/*
project-artifactspace/.clangd
project-artifactspace/.devcontainer/*
project-artifactspace/.vscode/*
project-kicadspace/designspace/designspace-backups/*
project-kicadspace/designspace/designspace.kicad_prl
project-kicadspace/designspace/designspace.kicad_pro